{{! <section class='container2'>
  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>

  <div class='job-listing'>
    <H3>New Job Opening Example</H3>
    <p>We want good peeps to join our show selling neeps</p>
  </div>
  <!-- Add more job listings as needed -->
</section> }}
<section class='container2'>
  {{#each posts as |post|}}

    <div class='job-listing'>
      <h3>
        <a id='post-title' href='/posts/{{post.id}}'>{{post.jobTitle}}</a>
      </h3>
      <h5 class='employee-inf'>{{user.companyName}}, £{{post.salary}}</h5>
      <div id='post-body'>
        <p>
          {{post.description}}
        </p>
      </div>
    </div>
  {{/each}}
</section>
<footer>
  <p>&copy; 2024 Job Board</p>
</footer>