<div class='applyContainer'>
  <div class='columnApply'>
    <div class='columnListing'>
      <form class='apply-form'>
        <div>
          <div class='ml-5' name='job-title'>Title: {{jobTitle}}</div>
        </div>

        <div>
          <div class='ml-5' name='salary'>Salary: £{{numeral salary}}</div>
        </div>

        <div>
          <div class='ml-5' name='location'>Location:
            {{user.town}},
            {{user.region}}</div>
        </div>

        <div>
          <div class='ml-5' name='description'>Description:
            {{description}}</div>
        </div>

        <div>
          <!-- Use the mailto URI scheme without specifying a recipient -->
          <a
            href='mailto:{{user.email}}subject=Job Application: {{jobTitle}}&body=I am interested in applying for the position. Please find my resume attached.'
          >
            <button class='button ml-5 mb-5' type='button'>Apply</button>
          </a>
        </div>

      </form>
    </div>
  </div>
</div>