<div class='row'>
  <div class='columnApply'>
    <div class='columnListing'>
      <form class='apply-form'>
        <div>
          <div class='ml-5' name='job-title'>Title: {{jobTitle}}</div>
        </div>

        <div>
          <div class='ml-5' name='salary'>Salary: {{salary}}</div>
        </div>

        <div>
          <div class='ml-5' name='location'>Location: {{location}}</div>
        </div>

        <div>
          <div class='ml-5' name='description'>Description:
            {{description}}</div>
        </div>

        <div>
          <a href='mailto:{{user.email}}'>
            <button class='button ml-5 mb-5' type='button'>apply</button></a>
        </div>

      </form>
    </div>
  </div>
</div>