
<div class="profileContainer">
  <section class="profileContainerLeft">
    <h3><u>Live Job Adverts</u></h3>
    {{#each posts as |post|}}
      <div class="profileJobListing">
        <p><a
            id="post-title"
            href="/apply/{{post.id}}"
          >{{post.jobTitle}}</a></p>

      </div>
    
  </section>


  <section class="profileContainerRight">
    <h3><u>User Details</u></h3>
    <div class="profileUserListing">
      <p>Company Name:
        <span class="companyNameDisplay">{{user.companyName}}</span></p>
      <p>Postcode: <span class="postcodeDisplay">{{user.postcode}}</span></p>
      <p>Town: <span class="townNameDisplay">{{user.townName}}</span></p>
      <p>Region: <span class="regionNameDisplay">{{user.regionName}}</span></p>
      <p>Email: <span class="emailDisplay">{{user.email}}</span></p>
    </div>

    <div class='profileBottomRight'>
      <button
        id='openProfileModal'
        class='button'
        onclick='openProfileModal()'
      >Edit Profile</button>
    </div>
{{/each}}
  </section>
</div>